<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.alpharec.data.DbWriter">
    <insert id="insertLink" parameterType="com.alpharec.pojo.Link">
        INSERT INTO MovieLensSmall.links (movieId, imdbID, tmdbId)
        VALUES (#{movieId}, #{imdbId}, #{tmdbId});
    </insert>
    <insert id="insertTag" parameterType="com.alpharec.pojo.Tag">
        INSERT INTO MovieLensSmall.tags (userId, movieId, tag, ts)
        VALUES (#{userId}, #{movieId}, #{tag}, #{timestamp});
    </insert>
    <insert id="insertRating" parameterType="com.alpharec.pojo.Rating">
        INSERT INTO MovieLensSmall.ratings(userId, movieId, rating, ts)
        VALUES (#{userId}, #{movieId}, #{rating}, #{timestamp})
    </insert>
    <insert id="insertMovie" parameterType="com.alpharec.pojo.Movie">
        INSERT INTO MovieLensSmall.movies(movieId, title, year, genres)
        VALUES (#{movieId}, #{title}, #{year}, #{genres})
    </insert>
</mapper>
